*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: linear-gradient(#4ba9e9,#4ba9e9 50%,#fff 50%, #fff 100%);
}

.card{
    position: relative;
    width: 600px;
    height: 380px;
    background: #000;
    box-shadow: 0 15px 40px rgba(0,0,0,0.1);
}

.card .imgBx{
    position: relative;
    min-width: 300px;
    height: 380px;
    background: #fff;
    display: flex;
}